.header {
    height: 55px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    background-color: rgb(15, 15, 15);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(15, 15, 15);

    z-index: 100;
}

.left-section {
    display: flex;
    align-items: center;
}

.hamburger-menu-container {
    margin-left: 24px;
    margin-right: 24px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgba(41, 41, 41, 0);
    cursor: pointer;

    transition: background-color 0.15s;
}

.hamburger-menu-container:hover {
    background-color: rgba(41, 41, 41, 0.8);
}

.hamburger-menu {
    margin: 8px;
    height: 24px;
    cursor: pointer;
}

.youtube-logo {
    height: 20px;
    cursor: pointer;
}

.middle-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.search-bar {
    flex: 1;
    height: 36px;
    padding-left: 16px;
    padding-right: 4px;
    font-size: 16px;
    background-color: rgb(15, 15, 15);
    border: 1px solid rgb(48, 48, 48);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    margin-right: -1px;
    width: 0;
}

.search-bar::placeholder {
    font-size: 16px;
}

.search-button {
    height: 40px;
    width: 64px;
    background-color: rgb(41, 41, 41);
    border: 1px solid rgb(48, 48, 48);
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-right: 10px;
    cursor: pointer;
}

.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon-container .tooltip{
    position: absolute;
    background-color: rgb(112, 112, 112);
    color: white;
    padding: 10px 8px;
    border-radius: 4px;
    font-size: 12px;
    opacity: 0;
    bottom: -45px;
    transition: opacity 0.15s;

    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip {
    opacity: 1;
}

.search-icon {
    height: 25px;
}

.voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(41, 41, 41);
    cursor: pointer;

    transition: background-color 0.15s;
}

.voice-search-button:hover {
    background-color: rgba(41, 41, 41, 0.8);
}

.voice-search-icon {
    height: 24px;
}

.right-section {
    width: 140px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
}

.upload-icon,
.notifications-icon {
    height: 24px;
    cursor: pointer;
}
.upload-icon-container,
.notifications-icon-container {
    margin-left: 4px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgba(41, 41, 41, 0);
    cursor: pointer;

    transition: background-color 0.15s;
}

.upload-icon-container:hover,
.notifications-icon-container:hover {
    background-color: rgba(41, 41, 41, 0.8);
}

.notifications-icon-container {
    position: relative;
    cursor: pointer;
}

.notifications-count {
    font-size: 11px;
    background-color: rgb(200, 0, 0);
    color: white;
    position: absolute;
    top: 4px;
    right: 0px;
    padding: 1px 7px;
    border-radius: 10px;
    border-color: rgb(15, 15, 15);
    border-width: 1px;
    border-style: solid;
}

.current-user-picture-container {
    margin-left: 20px;
}

.current-user-picture {
    height: 32px;
    border-radius: 16px;
    cursor: pointer;
}