@media (max-width: 1200px) {
    .sidebar {
        position: fixed;
        left: 0;
        bottom: 0;
        top: 55px;
        background-color: rgb(15, 15, 15);
        width: 76px;
        padding-top: 5px;
        padding-left: 4px;
        padding-right: 4px;
        
        z-index: 200;
    }
    
    .sidebar-link {
        height: 74px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        border-radius: 15px;
    }
    
    .sidebar-link:hover {
        background-color: rgb(41, 41, 41);
    }

    .sidebar-link img {
        height: 24px;
        margin-bottom: 4px;
    }
    
    .sidebar-link div {
        color: rgb(241, 241, 241);
        font-size: 10px;
        margin-top: 8px;
    }
}

@media (min-width: 1200.1px) {
    .sidebar {
        position: fixed;
        left: 0;
        bottom: 0;
        top: 55px;
        background-color: rgb(15, 15, 15);
        width: 220px;
        padding-top: 5px;
        padding-left: 4px;
        padding-right: 4px;
        
        z-index: 200;
    }
    
    .sidebar-link {
        height: 74px;
        display: flex;
        align-items: center;
        cursor: pointer;
        border-radius: 15px;
        padding: 4px 24px;
    }
    
    .sidebar-link:hover {
        background-color: rgb(41, 41, 41);
    }

    .sidebar-link img {
        height: 24px;
        margin-right: 24px;
    }
    
    .sidebar-link div {
        color: rgb(241, 241, 241);
        font-weight: 500;
        font-size: 14px;
        margin-left: 20px;
    }
}

