.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}

.thumbnail {
    border-radius: 12px;
    width: 100%;
} 

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.channel-picture {
    vertical-align: top;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.profile-picture {
    width: 36px;
    border-radius: 50px;
}

.channel-tooltip {
    width: 200px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    background-color: rgb(24, 24, 24);
    color: rgb(241, 241, 241);
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
    position: absolute;
    top: 30px;
    opacity: 0;
    z-index: 300;

    white-space: nowrap;
    pointer-events: none;

    transition: opacity 0.15s;
}

.channel-picture:hover .channel-tooltip {
    opacity: 1;
}

.profile-picture-tooltip {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 8px;
}

.channel-detail-tooltip {
    font-family: Roboto, Arial;
}

.channel-name-tooltip {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.channel-subscriber-tooltip {
    font-weight: 400;
    font-size: 13px;
    color: rgb(170, 170, 170);
}

.video-info {
    position: relative;
}

.video-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}

.video-title-link {
    text-decoration: none;
}

.video-author,
.video-stat {
    font-size: 12px;
    color: rgb(170, 170, 170)
}

.video-author {
    text-decoration: none;
    margin-bottom: 4px;
    cursor: pointer;
}

.video-author-link .tooltip {
    position: absolute;
    background-color: rgb(112, 112, 112);
    color: white;
    padding: 10px 8px;
    border-radius: 4px;
    font-size: 12px;
    opacity: 0;
    bottom: 45px;
    transition: opacity 0.15s;

    pointer-events: none;
    white-space: nowrap;
}

.video-author:hover {
    color: rgb(236, 236, 236);
}

.video-author-link:hover .tooltip {
    opacity: 0.92;
}

.video-author-link {
    text-decoration: none;
    cursor: pointer;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}


@media (max-width: 699px) {
    .video-grid {
        grid-template-columns: 1fr;
    }
    .video-title {
        font-size: 16px;
        line-height: 24px;
    }

    .video-author,
    .video-stat {
        font-size: 14px;
    }
 }

 @media (min-width: 700px) and (max-width:1099px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
    .video-title {
        font-size: 16px;
        line-height: 24px;
    }

    .video-author,
    .video-stat {
        font-size: 14px;
    }
 }

 @media (min-width: 1100px) and (max-width:1424px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .video-title {
        font-size: 16px;
        line-height: 24px;
    }

    .video-author,
    .video-stat {
        font-size: 14px;
    }
 }

 @media (min-width: 1425px) and (max-width:1749px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .video-title {
        font-size: 16px;
        line-height: 24px;
    }

    .video-author,
    .video-stat {
        font-size: 14px;
    }
 }


 @media (min-width: 1750px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .video-title {
        font-size: 16px;
        line-height: 24px;
    }

    .video-author,
    .video-stat {
        font-size: 14px;
    }
 }

.video-time {
    font-size: 12px;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    bottom: 10px;
    right: 8px;
    padding: 4px;
    border-radius: 4px;
}